@page
@model MeuCrudCsharp.Pages.Videos.Admin.IndexModel
@{
    ViewData["Title"] = "Gerenciar Vídeos";
}

<!-- 1. Dependências -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<link rel="stylesheet" href="~/css/Admin/Videos/admin-videos.css" asp-append-version="true"/>

<!-- 2. Estrutura HTML Principal -->
<div class="admin-layout">
    <partial name="partials/_AdminSideBar"/>

    <div class="admin-content-wrapper">

        <header class="mobile-header">
            <partial name="partials/_HeaderMobile"/>
        </header>

        <main class="admin-main-content">
            <div class="admin-container">
                <partial name="partials/_CreateVideo"/>
                <partial name="partials/_ManagerContent"/>
                <partial name="partials/_ViewVideo"/>
                <partial name="partials/_CreateCourse"/>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/js/admin/videos/videos-main.js" type="module" asp-append-version="true" defer></script>