@page
@model MeuCrudCsharp.Pages.IndexModel
@{
    ViewData["Title"] = "Página Inicial";

}

<div class="text-center">
    <h1 class="display-4">@Model.Mensagem</h1>
    <p>Aprenda a construir apps web com ASP.NET Core.</p>
</div>  