@model MeuCrudCsharp.Features.Emails.ViewModels.ConfirmationEmailViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Pagamento Aprovado</title>
</head>
<body>
    <h1>Olá, @Model.UserName!</h1>
    <p>Seu pagamento com ID <strong>@Model.PaymentId</strong> foi aprovado com sucesso! 🎉</p>
    <p>Obrigado por sua compra.</p>
</body>
</html>