@page
@model MeuCrudCsharp.Pages.Profile.Admin.indexModel
@{
    ViewData["Title"] = "Gerenciar Planos de Assinatura";
}

<!-- 1. Dependência para os Ícones (Font Awesome) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<link rel="stylesheet" href="~/css/admin/Profile/admin-styles.css" asp-append-version="true"/>
<!-- 3. Estrutura HTML com a Sidebar -->
<div class="admin-layout">
    <!--Content Side-Bar -->
    <partial name="partials/_AdminSideBar"/>
    <!--Content Side-Bar -->
    <partial name="partials/_AdminHeader"/>
    <!-- Conteúdo Principal -->
    <main class="admin-main-content">
        <div class="admin-container">
            <!-- Painel de Curso" -->
            <partial name="partials/_AdminCourses"/>
            <!-- Painel de Plano" -->
            <partial name="partials/_AdminPlans"/>
            <!-- Painel "Alunos" -->
            <partial name="partials/_AdminStudents"/>
            <!-- Painel "Gerenciar Assinaturas" -->
            <partial name="partials/_AdminSubscriptions"/>
        </div>
    </main>
</div>

<!-- 4. JavaScript para interagir com a API -->
<script src="~/js/admin/Profile/admin-main.js" type="module" defer asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
