@model MeuCrudCsharp.Features.Emails.ViewModels.RejectionEmailViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Pagamento Rejeitado</title>
</head>
<body>
    <h1>Atenção, @Model.UserName.</h1>
    <p>Ocorreu um problema com o seu pagamento de ID <strong>@Model.PaymentId</strong> e ele foi rejeitado.</p>
    <p>Por favor, entre em contato com o suporte.</p>
</body>
</html>