<aside class="admin-sidebar">
    <div class="sidebar-header">Minha Conta</div>
    <nav class="sidebar-nav">
        <!-- Navegação Principal -->
        <ul>
            <li>
                <a href="#" class="profile-nav-link" data-target="profile-content">
                    <i class="fa-solid fa-user"></i> <span>Meu Perfil</span>
                </a>
            </li>
            <li>
                <a href="#" class="profile-nav-link" data-target="payment-history-content">
                    <i class="fa-solid fa-file-invoice-dollar"></i> <span>Histórico de Pagamentos</span>
                </a>
            </li>
            <li>
                <a href="#" class="profile-nav-link" data-target="subscription-content">
                    <i class="fa-solid fa-credit-card"></i> <span>Gerenciar Assinatura</span>
                </a>
            </li>
        </ul>
        <!-- Ação de Logout -->
        <ul>
            <li>
                <a href="#" class="profile-nav-link logout-btn">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> <span>Sair</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>